@charset "UTF-8";

body {
    margin: 25px;
    letter-spacing: 0.03em;
    font-family: -apple-system;
    -webkit-touch-callout: none !important;
}

h1 {
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 1em;
    font-weight: 800;
}

h3 {
    font-size: 0.8em;
    font-weight: 800;
}

h4 {
    font-size: 0.7em;
    font-weight: 800;
}

h5 {
    font-size: 0.6em;
    font-weight: 600;
}

h6 {
    font-size: 0.5em;
    font-weight: 800;
}

p {
    font-size: 1em;
    font-weight: 400;
}
