---
name: CI
on:
  [push, pull_request]

jobs:
  build:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: CIprep
        run: ./tools/scripts/ci/010_ciprep
      - name: CIbuild
        run: ./tools/scripts/ci/030_cibuild
      - name: CItest-iphone11
        run: |
          xcodebuild clean test \
          -project EN.xcodeproj \
          -scheme ENCore \
          -destination "platform=iOS Simulator,OS=latest,name=iPhone 11" \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO \
          ONLY_ACTIVE_ARCH=NO
      - name: CIipadiff
        run: ./tools/scripts/ci/070_ipadiff
